
.one {
    grid-area: one;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(86, 79, 192, 0.842);
}
.two {
    grid-area: two;
    background-color: rgba(40, 29, 88, 0.863);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.three {
    grid-area: three;
}
.tabs {
    grid-area: tab1;
    margin-bottom: 20px;
}
/* New Nest */
.chart {
    grid-area: chart;
    border-bottom: $border-grey;
    margin: 20px;
    padding-bottom: 20px;
}
.bar {
    grid-area: bar;
    max-width: 90%;
    @include med {
        margin-left: 20px;
    }
}
.dough {
    grid-area: dough;
    max-width: 90%;

}
/* New Nest */
.card {
    grid-area: card;
    border-top: $border-grey;
    margin: 20px;

}
.twitter {
    grid-area: twitter;  
}
.facebook {
    grid-area: facebook;
}
.google {
    grid-area: google;
}
/* New Nest */
.chat {
    grid-area: chat;
}
.new-members {
    grid-area: members;
    border-top: $border-grey;
    border-bottom: $border-grey;
    @include med {
        border-right: $border-grey;
    }
}
.recent-activity {
    grid-area: activity;
    border-top: $border-grey;
    border-bottom: $border-grey;
}
.users {
    grid-area: users;
    @include med {
    border-right: $border-grey;
    }
}
.settings {
    grid-area: settings;
}

p {
    margin: 0;
}
.chat ul li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.google-content {
    padding-right: 40px;
}

.chat-name {
    @include med {
    text-align: start;
    }
}

.activity-li {
    @include sm {
    margin-bottom: 20px;
    }
    @include med {
        margin-left: 20px;
    }
}

.comments {
    @include med {
        margin-left: 20px;
    }
}

.hours {
    margin-top: 10px;
}

.arrow {
    align-self: center;
}

.fas {
    color: rgba(86, 79, 192, 0.842);
}

.chat-heading {
    margin-left: 20px
}

.message-user {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
}

.users-settings {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
}

.send-btn {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(86, 79, 192, 0.842);
    color: #f4f4f4;
}

.save-btn {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: rgba(86, 79, 192, 0.842);
    color: #f4f4f4;
    margin-top: 10px;
    width: 47%;
    margin-right: 20px;
}

.cancel-btn {
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    width: 47%;
    margin-top: 10px;
    color: #f4f4f4;
}

#search-user{
    border-radius: 5px;
    border: $border-grey;
    padding: 5px;
}

#message-user {
    border: $border-grey;
    border-radius: 5px;
    height: 100px;
    margin-top: 10px;
}

#select-timezone {
    appearance: none;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: $border-grey;
    border-right: none;
    width: 90%;
    margin-top: 52px;
}

.select-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#downArrow {
    align-self: center;
    border: $border-grey;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    margin-top: 52px;
}

.btn-div {
    display: flex;
    justify-content: center;
}

h4 {
    font-family: $roboto;
}
p {
    font-family: $helvetica;
}