// BASE LAYOUT
.container {
    max-width: 1024px;
    margin: 0 auto;
  @include grid-one;
  grid-template-areas:
    "one"
    "two"
    "three"
    "tab1"
    "card"
    "twitter"
    "facebook"
    "google"
    "chat"
    "members"
    "activity"
    "user"
    "settings";

    @include med {
        @include grid-two;
        grid-template-areas:
            "one one"
            "two three"
            "two tab1"
            "two card"
            "two chat"
            "two members"
            "two activity"
            "two user"
            "two settings"
    }
        @include lrg {
            @include grid-five;
            grid-template-areas:
            "one one one one one"
            "two three three three three"
            "two tab1 tab1 tab1 tab1"
            "two card card card card"
            "two chat chat chat chat"
            "two members members activity activity"
            "two user user settings settings"
        }

        .tabs {
            @include lrg {
                @include grid-tab;
                grid-template-areas:
                "chart chart chart chart"
                "bar bar dough dough"
            }
        }
    

    .card {
        @include med {
        @include grid-card;
        grid-template-areas:
        "card card card"
        "twitter facebook google"
        }
    }

.social {
    @include sm {
        display: flex;
        justify-content: center;
    }
    width: 90%;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fbfbfb;
    border: 1px #606a74 solid;
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px 0;
    @include lrg {
        width: 90%;
    }
    }
    .two {
        @include med {
            flex-direction: column;
            justify-content: initial;
        }
    }
}

.chat {
    @include med {
        @include grid-tab;
        display: grid;
        grid-template-areas:
        "members members activity activity"
        "users users settings settings";

        margin-bottom: 0;
    }
}

.chat-contact {
    @include med{
        margin: 10px;
    }
}