.msgBox {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color:rgba(86, 79, 192, 0.842);
    border-radius: 5px;
    max-width: 95%;
    margin: auto;
}
#close {
    margin-right: 10px;
}

#tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#searchBar {
    border: 1px solid #0000272a;
    border-right: none;
    font-size: 13px;
    padding: 7px;
    outline: none;
    width: 135px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    @include med {
        width: 200px;
    }
    @include lrg {
        width: 250px;
    }
}

#searchBtn {
    border: 1px solid #0000272a;
    border-left: none;
    padding: 7px;
    background: #fff;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#searchBtn:hover {
    transform: scale(1.1);
    background: rgba(86, 79, 192, 0.842);
}

input[type="submit"] {
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    font-weight: 600;
}

.traffic-btn {
    border-radius: 5px;
    border-color: rgba(86, 79, 192, 0.842);;
    margin: 10px 10px 0 0;
    width: 75px;
    background-color: rgba(3, 14, 107, 0.336); 
    color: #f4f4f4;
    
    &:hover {
       transform: scale(1.1);
    }
}