.avatar-div {
    display: flex;
    align-items: center;
}

// Bell animation
@keyframes bellshake {
  0% {
    transform: rotate(0); }
  15% {
    transform: rotate(5deg); }
  30% {
    transform: rotate(-5deg); }
  45% {
    transform: rotate(4deg); }
  60% {
    transform: rotate(-4deg); }
  75% {
    transform: rotate(2deg); }
  85% {
    transform: rotate(-2deg); }
  92% {
    transform: rotate(1deg); }
  100% {
    transform: rotate(0); } }

.bell-icon {
  height: 20px;
  width: 20px;
  &:hover {
        animation: bellshake .5s cubic-bezier(.36, .07, .19, .97) both;
        backface-visibility: hidden;
        transform-origin: top;
        }
    }

.bell-div {
    display: flex;
    border-right: solid #999 1px;
    padding: 10px;
    margin: 10px;
}

#notifications-dot {
  position: absolute;
  text-align: center;
  color: white;
  height: 10px;
  width: 10px;
  font-size: 12px;
  padding: 2px 2px 4px 2px;
  margin-left: 10px;
  margin-top: -8px;
  background-color: #82c78d;
  border-radius: 50%;
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.social-svg {
  text-align: center;
}

.social-icons {
    max-width: 40px;
    max-height: 40px;
    
    padding: 10px;
    background-color: rgba(86, 79, 192, 0.842);
    border-radius: 100%;
    @include sm {
      margin-left: -70px;
    }
}

.chat-avatar {
  border-radius: 50%;
  margin-bottom: 15px;
  max-width: 50px;
  max-height: 50px;
}

li {
  list-style: none;
}


h5 {
  margin-bottom: 40px;
  @include med {
    margin-right: 20px;
}
}

.chat-heading {
  padding-bottom: 20px;
  margin-top: 20px;
}

.ui-tabs {
  margin: 0 20px;
}

.chat ul li {
  @include med {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  }
}

.chat-flex {
  text-align: center;
  @include med {
  display:flex;
  margin-left: 20px;
  }
}

.comments-div {
  display: flex;
  align-self: center;
  max-width: 90%;
  p {
    @include med {
      text-align: start;
    }
  }
}

.onoffswitch {
  display:flex;
  justify-content: space-around;
  text-align: start;
}

.p-switch {
  width: 50%;
  margin-bottom: 10px;
  text-align: start;
}

.notifi-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px 20px 10px;
}

